@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, p, li {
  color: white;
}

p {
  font-size: 1.3em;
}

li {
  font-size: 1.3em;
  line-height: normal;
}

@media only screen and (max-width: 600px) {
  p, li {
    font-size: 1em;
  }
  li {
    white-space: pre-wrap;
    padding: 5px 0;
  }
}